/* about me section */
.aboutme_text{
    color: rgb(110, 107, 107);
    font: smaller;
    line-height: 22px !important;
    /* white-space: pre-line; */
}
/* Timeline Section */
.resume_timeline .resume_content .timeline_title {
    font-size: 16px !important;
    font-weight: 500 !important;
}
.resume_timeline .resume_content .timeline_date {
    color: darkslategray !important;
}
.resume_timeline .resume_content .timeline_description {
    color: rgb(82, 82, 82) !important;
    font-size: small !important;
    margin-top: 6px !important;
}
/* Services */
.service{
    height: 100%;
    text-align: center;
}
.service .service_title{
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    text-align: center;
}
.service .service_desription{
    color: #989898 !important;
    border-color: var(--main-color) !important;
    margin-right: 5px !important;
    text-align: center;
}
.service_icon > .MuiSvgIcon-root{
    font-size: 46px !important;
    margin-left: 0 !important;
    font-weight: 300 !important;
    color: darkslategray !important;
}
/* Skills */
.section .skill{
    border-radius: 5px !important;
    border-color: var(--main-color) !important;
    padding: 10px;
    box-shadow: 5px 10px var(--main-color);
    min-height: 186px;
    height: 100%;
} 
.section .skill:hover{
    padding: 0px;
    transition: 0.1s ease-in;
} 
.skill .skill_title{
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
}
.skill .skill_description{
    display: flex;
    align-items: center;
    color: #989898;
    font-weight: 400 !important;
    line-height: 18px !important;
}
.skill .skill_description .timeline_dot{
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-right: 5px !important;
}
.resume_timeline .resume_content .skill_description > .timeline_dot{
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-right: 5px !important;
}